#map-controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#map-controls .box {
  cursor: pointer;
  background-color: rgba(255,255,255,0.85);
  border-radius: 100px;
  padding: 1rem;
}

/* taking a gamle there won't be any other text nested this far down */
.gm-style div div div div div div div {
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#header {
  position: absolute;
  top: -10px;
  left: 10%;
  right: 10%;
}

#footer {
  position: absolute;
  bottom: -10px;
  left: 10%;
  right: 10%;
}
#footer .box {
  background-color: rgba(255,255,255,0.8);
}
